<div>
  <hr>
  <p>
    <h3><%=event.id  %>:
      <%= event.location %>
      <%= event.date%>
    </h3>
  
  </p>
  <p>
    Created by <%= event_creator(event)%>
  </p>
  <% past = past || false %>

  <% if user_signed_in? %>
    <% func = event_token(event) %>
    <% else %>
    <% func = event_token_public_user(event) %>
  <% end %>

  <% if !attending?(event) && !past %>
    <%= link_to 'Attend',tokens_path(token: func), method: :post%>
  <% elsif attending?(event) && !past%>
    <strong>You are attending.</strong>
    <br>
    <br>
    <%= link_to 'Cancel',tokens_path(token: func), method: :delete%>
  <% end %>
  <%= link_to 'Show', event%>
  <hr>
</div>
